@font-face {
	font-family: fblack;
	src: url(./font/GothamPro-Black.ttf)
}

@font-face {
	font-family: flight;
	src: url(./font/GothamPro-Light.ttf)
}

@font-face {
	font-family: fpro;
	src: url(./font/GothamPro.ttf)
}

@font-face {
	font-family: fmed;
	src: url(./font/GothamPro-Medium.ttf)
}

@font-face {
	font-family: fbo;
	src: url(./font/GothamPro-Bold.ttf)
}

body{
	margin: 0px;
	padding: 0px;
}


.poni:after {
	content: "";
	display: block;
	clear: both;
}


.rooth {
	width: 1221px;
	margin: 0px auto;
}

.menu_15 {
	display: none;
}

.top{
	height: 114px;
	background: rgba(153,204,255);
	position: relative;
	margin: 0px auto;
	box-sizing: border-box;
	z-index: 10;
}

.top_index {
	float: left;
	box-sizing: border-box;
	position: relative;
}

.top_img {
	margin-top: 37px;
	margin-left: 27px;
}

#top_1 {
	height: 114px;
	width: 238px;
}

#top_2 {
	height: 114px;
	width: 980px;
}

.top_up {
	width: 980px;
	height: 57px;
	box-sizing: border-box;
	position: relative;
	float: left;
}

.top_down {
	width: 980px;
	height: 57px;
	box-sizing: border-box;
	position: relative;
	float: left;
}

.top_up_in {
	float: left;
	border: 1px solid rgba(113,185,228);
	border-top: none;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	padding-top: 14px;
	font-family: fbo;
}


#top_up_1 {
	width: 185px;
	height: 56px;
}

.top_span_1 {
	font-family: fpro;
}

#top_up_2 {
	width: 321px;
	height: 56px;
}

.top_span_2 {
	font-family: fpro;
}


#top_up_3 {
	width: 304px;
	height: 56px;
}


#top_up_4 {
	width: 170px;
	height: 56px;
	border-right: none;
}

.top_down_L {
	width: 810px;
    height: 57px;
    float: left;
    border-left: 1px solid rgba(113,185,228);
    box-sizing: border-box;
    text-align: left;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 16px;
    font-family: fbo;
    text-transform: uppercase;
    color: #ffffff;
}

.top_down_L_ul {
	list-style-type: none;
	position: sticky;
}

.top_down_L_li {
	float: left;
	padding: 3px 10px;
}

.top_down_R {
	width: 169px;
	height: 57px;
	float: left;
	box-sizing: border-box;
	padding-top: 14px;
	text-align: center;
	color: #ffffff;
	word-spacing: 10px;
}

.level_1 {
	height: 520px;
	width: 1420px;
	position: relative;
	margin: auto;
}

.top:hover {
	cursor: pointer;
}

.back_img {
	height: 650px;
	width: 1420px;
	margin-left: 25px;
	position: absolute;	
	z-index: 5;
	top: -85px;
}


.level_1_text1 {
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	font-family: fblack;
	font-size: 36px;
	text-transform: uppercase;
	color: rgba(0,125,192);
	letter-spacing: 5px;
	padding-top: 130px;
	white-space: pre-line;
	text-align: left;
	
}

#level_1_text1 {
	padding-top: 20px; 
}

.level_1_text2 {
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	font-family: fpro;
	font-size: 16px;
	color: rgba(0,125,192);
	padding-top: 40px;
	white-space: pre-line;
	text-align: left;
}

#level_1_text2 {
	padding-top:0px;
}

.level_1_buton {
	border: 1px solid rgba(0,125,192);
	width: 175px;
	height: 40px;
	background-color: rgba(0,125,192);
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	font-family: fmed;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding-top: 8px;
	margin-left: 98px;
	margin-top: 40px;
	border-radius: 10px;
	
}

.level_2 {
	height: 115px;
	position: relative;
}

.level_2_block {
	width: 407px;
	height: 115px;
	float: left;
	box-sizing: border-box;
	position: relative;
	bottom: 50px;
}

.level_2_L {
	background: rgba(70,154,212);
	padding-top: 40px;
	color: #ffffff;
	text-align: left;
	font-family: fbo;
	font-size: 18px;
	padding-left: 30px;
	line-height: 25px;
	text-transform: uppercase;	
	z-index: 10;
}

.level_2_circle_L {
	/*padding-left: 120px;
	position: absolute;*/
	
}
.for_c {
	display: inline-block;
	vertical-align: middle;
}

.for_w {
	width: 80%;
}
.level_2_C {
	background: rgba(42,147,205);
	padding-top: 40px;
	padding-right: 20px;
	color: #ffffff;
	text-align: center;
	font-family: fbo;
	font-size: 18px;
	text-transform: uppercase;	
	z-index: 10;
}

.level_2_circle_C {
	/*padding-left: 10px;
	vertical-align: middle;	*/
}

.level_2_R {
	background: rgba(94,184,208);
	padding-top: 40px;
	padding-right: 20px;
	color: #ffffff;
	text-align: center;
	font-family: fbo;
	font-size: 18px;
	text-transform: uppercase;	
	z-index: 10;
}

.level_2_circle_R {
	/*padding-left: 45px;
	vertical-align: middle;	*/
}

.level_3 {
	height: 575px;
	position: relative;
}

.level_3_L {
	width: 696px;
	height: 568px;
	position: relative;
	box-sizing: border-box;
	float: left;
}

.level_3_L_text {
	width: 696px;
	height: 57px;
	color: rgba(0,125,192);
	text-align: left;
	font-family: fbo;
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 15px;
}

.level_3_L_down {
	width: 696px;
	height: 500px;
	background: url(./img/back_level_3.jpg);
	bottom: 0px;
	box-sizing: border-box;
	position: relative;
}

.level_3_L_down_1 {
	height: 175px;
	width: auto;
	text-align: left;
	color: white;
	font-family: fmed;
	font-size: 20px;
	position: relative;
	white-space: pre-line;
	left: 70px;
	top: 85px;
}

.level_3_L_down_2 {
	border: 1px solid rgba(0,125,192);
	width: 175px;
	height: 40px;
	background-color: rgba(0,125,192);
	position: relative;
	box-sizing: border-box;
	font-family: fmed;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	padding-top: 9px;
	margin-left: 70px;
	margin-top: 170px;
	border-radius: 10px;	
}

.level_3_L_down_3 {
	width: 215px;
	height: 30px;
	text-align: left;
	position: relative;
	color: #ffffff;
	margin-left: 70px;
	margin-top: 70px;
	letter-spacing: 8px;	
}

.level_3_R {
	width: 524px;
	height: 568px;
	position: relative;
	box-sizing: border-box;
	float: left;
}

.level_3_R_text {
	width: 524px;
	height: 57px;
	color: rgba(0,125,192);
	text-align: left;
	font-family: fbo;
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 15px;
}

.level_3_R_text_span {
	float: right;
}

.level_3_R_down {
	width: 524px;
	height: 500px;
	bottom: 0px;
	box-sizing: border-box;
	position: relative;
}

.level_3_R_down_1 {
	position: relative;
	width: auto;
	height: 260px;
	overflow: hidden;
	background: url(./img/back_1_level_3.jpg);
    background-position: center -75px;
	background-repeat: no-repeat;
}

.play {
	height: 260px;
    width: auto;
    margin: auto;
    padding-top: 90px;
    color: rgba(50,173,210);
    text-align: center;
    vertical-align: bottom;
    box-sizing: border-box;
    background-color: rgba(141,200,237,0.3);
	text-shadow: 3px 1px 20px black; 
	position: relative;
}

.level_3_R_par1{
	position: absolute;
    top: 22px;
    right: 55px;
    color: rgba(0,125,192);
    font-family: fmed;
    font-size: 16px;
    margin: 0px;
}

.level_3_span {
	font-size: 24px;
}

.level_3_R_par2 {
	position: absolute;
	color: rgba(255,255,255);
	font-family: fmed;
	font-size: 24px;
	margin: 0px;
	bottom: 40px;
	padding-left: 35px;	
}

.level_3_R_down_2 {
	position: relative;
	width: auto;
	height: 240px;
}

.level_3_R_down_2_2 {
	position: relative;
	width: 262px;
	height: inherit;
	float: left;	
}

.level_3_R_down_img {
	width: inherit;
	height: 140px;
	position: relative;
	overflow: hidden;
	background: url(./img/back_2_level_3.jpg);
	background-repeat: no-repeat;
}

.level_3_number {
	position: absolute;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	background: rgba(0,125,192);
	color: rgba(255,255,255);
	margin: 0px;
	top: 0px;
	right: 0px;
	text-align: center;
	font-family: fmed;
	font-size: 12px;
	padding-top:3px;
	
}

.level_3_R_down_text {
	position: relative;
	width: inherit;
	height: 100px;
	text-align: left;
	font-family: fmed;
	font-size: 16px;
	white-space: pre-line;
	padding-left: 20px;
	padding-top: 15px;
	line-height: 20px;
}

.level_3_R_down_img_2 {
	background: url(./img/back_3_level_3.jpg);
	background-position: -110px center;
	background-repeat: no-repeat;
}

.level_4 {
	height: 490px;
	position: relative;
	margin-top: 35px;
}

.level_4_text {
	width: inherit;
	height: 55px;
	color: rgba(0,125,192);
	text-align: left;
	font-family: fbo;
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 15px;	
}

.level_4_menu {
	width: inherit;
	height: 415px;
	position: relative;
}

.level_4_block {
	width: 305.25px;
	height: inherit;
	position: relative;
	float: left;
	border-top: 3px solid rgba(141,200,237);
}

.level_4_block_img1 {
	width: inherit;
	height: 240px;
	overflow: hidden;
	background: url(./img/back_1_level_4.jpg);
	background-position: -25px center;
	background-repeat: no-repeat;
}

.level_4_block_text {
	width: inherit;
	height: 175px;
	border: 1px solid rgba(218,218,218);
	box-sizing: border-box;
	font-family: fmed;
	font-size: 16px;
	white-space: pre-line;
	padding-left: 30px;
	padding-top: 20px;
	line-height: 20px;
	position: relative;
	
}

.level_4_logo1 {
    position: absolute;
    width: 20%;
    bottom: 15px;
    left: 30px;
    opacity: 0.5; 
}

.level_4_block_img2 {
	width: inherit;
	height: 240px;
	overflow: hidden;
	background: url(./img/back_2_level_4.jpg);
	background-position: center 0px;
	background-repeat: no-repeat;
}

.level_4_logo2 {
    position: absolute;
    width: 35%;
    bottom: 15px;
    left: 30px;
	opacity: 0.5;
}

.level_4_block_img3 {
	width: inherit;
	height: 240px;
	overflow: hidden;
	background: url(./img/back_3_level_4.jpg);
	background-position: center -12px;
	background-repeat: no-repeat;
}

.level_4_logo3 {
    position: absolute;
    width: 35%;
    bottom: 15px;
    left: 30px;
	opacity: 0.5;
}

.level_4_block_img4 {
	width: inherit;
	height: 240px;
	overflow: hidden;
	background: url(./img/back_4_level_4.jpg);
	background-position: center 0px;
	background-repeat: no-repeat;
}

.level_4_logo4 {
    position: absolute;
    width: 45%;
    bottom: -15px;
    left: 30px;
	opacity: 0.5;
}

.level_5 {
	height: 205px;
	position: relative;
	margin-top: 50px;
}


.level_5_block {
	width: inherit;
	height: 150px;
	background: rgba(247,247,247);
	position: relative;
}

.level_5_logo {
	width: transparent;
	height: auto;
	position: relative;
	float: left;
}

.level_5_logo1 {
	width: 8%;
    opacity: 0.3;
    margin-left: 60px;
	margin-top: 80px;
}

.level_5_logo2 {
	width: 9%;
    opacity: 0.3;
    margin-left: 60px;
}

.level_5_logo3 {
	width: 5%;
    opacity: 0.3;
    margin-left: 60px;
	margin-bottom: 8px;
}

.level_5_logo4 {
	width: 14%;
    opacity: 0.3;
    margin-left: 60px;
	margin-bottom: 10px;
}

.level_5_logo5 {
	width: 5%;
    opacity: 0.3;
    margin-left: 60px;
	margin-bottom: 9px;
}

.level_5_logo6 {
	width: 3%;
    opacity: 0.3;
    margin-left: 60px;
	margin-bottom: 7px;
}

.level_5_logo7 {
	width: 9%;
    opacity: 0.3;
    margin-left: 60px;
	margin-bottom: 17px;
}

.end {
	width: auto;
	height: 715px;
	position: relative;
	background: rgba(50,55,58);
	box-sizing: border-box;
}

.end_T {
	height: 200px;
	position: relative;
	top: 80px;
	box-sizing: border-box;
}

.end_T_block {
	height: inherit;
	width: 305.25px;
	position: relative;
	float: left;
	box-sizing: border-box;
}

.logo_b{
	padding-top: 15px;
}

.end_T_text1 {
	width: inherit;
    height: auto;
    color: rgba(255,255,255);
    text-align: left;
    font-family: fbo;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 15px;
    margin: 0px;
}

.end_T_text2 {
    width: inherit;
    height: auto;
    color: rgba(200,202,202);
    text-align: left;
    font-family: flight;
    font-size: 14px;
    white-space: pre-line;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    line-height: 12px;
    margin-bottom: 11px;
}

.end_T_block1 {
	margin-top: 46px;
}

.end_M {
	height: 220px;
	position: relative;
	top: 100px;
	box-sizing: border-box;
}

.end_logos {
	color: white;
	word-spacing: 20px;
	padding-top: 13px;
}

.end_D {
	height: 90px;
	position: relative;
	top: 180px;
	box-sizing: border-box;
}

.end_D_block {
	width: 407px;
	height: inherit;	
	border-top: 2px solid rgba(89,93,96);
	box-sizing: border-box;
	float: left;
}

.end_D_L {
	text-align: left;
	color: rgba(200,202,202);
	font-family: flight;
	font-size: 14px;
	padding-top: 35px;
}

.end_D_C {
	text-align: center;
	color: rgba(200,202,202);
	font-family: flight;
	font-size: 14px;
	padding-top: 35px;
}

.end_diz {
	float: left;
	margin: 10px 5px 0px 270px;
}

.end_D_R {
	text-align: left;
	color: rgba(200,202,202);
	font-family: flight;
	font-size: 12px;
	padding-top: 10px;
	white-space: pre-line;
}


@media(max-width:1030px) {
	.rooth{
		width: 100%;
	}
	#top_1{
		display: none;
	}
	
	#top_2{
		width: 100%;
	}
	
	.top_up {
		display: flex;
		flex-direction: row;
	}
	
	.top_up_in {
		flex: 1;
		float:none;
	}
	
	.level_1 {
		width: 1024px;
		height: 540px;
		overflow: hidden;
	}
	
	.back_img{
	height: 90%;
    width: 100%;
    position: absolute;
    z-index: 5;
	margin-left: 0px;
	}
	
	.level_1_buton {
		margin-left: 0px;
	}
	
	.level_2 {
		display: flex;
		flex-direction: row;
	}
	
	.level_2_block {
		flex: 1;
		float: none;
	}
	
	.level_3 {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	
	.level_3_L {
		flex: 1;
		float: none;
		width: 100%;
	}
	
	.level_3_L_down {
		width: 100%;
		background-repeat: no-repeat;
		background-size: 1024px 500px;
	}
	
	.level_3_L_down_1 {
		width: 500px;
	}
	
	.level_3_R {
		flex: 1;
		float: none;
		width: 100%;
	}
	
	.level_3_R_text {
		width: 100%;
		
	}
	
	.level_3_R_down{
		width: 100%
	}
	
	.level_3_R_down_1 {
		background-size: 100% 190%;
	}
	
	.level_3_R_par2 {
		padding-left: 290px;
	}
	
	.level_3_R_down_2_2 {
		margin-left: 170px;
	}

	.level_4_menu {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	
	.level_4_block {
		flex: 1;
		float: none;
		width: 100%
	}
	
	.level_4_block_text {
		font-size: 14px;
	}
	
	.end_T {
		display: flex;
		flex-direction: row;
	}
	
	.end_T_block {
		flex: 1;
		width: 100%;
		float: none;
	}
	
	.end_M {
		display: flex;
		flex-direction: row;
	}
	
	.end_D {
		display: flex;
		flex-direction: row;
	}
	
	.end_D_block {
		flex: 1;
		width: 100%;
		float: none;
	}
	
	.end_diz {
		margin-left: 60%;
	}
	
}



@media(max-width:430px) {
	.rooth {
		width: 100%;
	}
	
	.menu_15 {
		color: rgba(255,255,255);
		display: block;
		background-color: rgba(153,204,255);
		text-align: center;
		position: relative;
		}
	
	.top{
		display: none;
	}
	
	.menu_20 {
		width: 100%;
		height: auto;
		background-color: rgba(153,204,255);
		z-index: 100;
		display: none;
	}
	
	.menu_20_ul {
	flex: 1;
	box-sizing: border-box;
    text-align: left;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 16px;
    font-family: fbo;
    text-transform: uppercase;
    color: #ffffff;
	}
	
	.top_down_L_li {
		float: none;
		text-align: center;
	}
	
	.menu_15:hover .menu_20 {
		display: block;
		position: absolute;
	}
	
	
	
	.top_up_in {
		flex: 1;
		float:none;
	}

		
}